* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ds-dark: rgba(35, 39, 42, 1);
    --ds-light: white;
    --ds-navbar: rgba(49, 97, 224, 1);
    --ds-soft: rgba(246, 246, 246, 1);
    --ds-evidence: rgba(142, 161, 225, 1);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.p1 {
    padding: 1rem;
}

.p04 {
    padding: 0.4rem;
}



.light {
    background-color: var(--ds-light);
}

.dark {
    background-color: var(--ds-soft);

    /*background-image: url(./img/wave.svg);*/
}

.btn-light {
    background-color: var(--ds-light);
    color: var(--ds-dark);
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    margin: 1rem;

}

.btn-dark {
    background-color: var(--ds-dark);
    color: var(--ds-light);
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    margin: 1rem;
}

.btn-evidence {
    background-color: var(--ds-evidence);
    color: var(--ds-light);
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    margin: 1rem;
}

.btn-light a:any-link,
.btn-dark a:any-link,
.btn-evidence a:any-link {
    text-decoration: none;
    color: inherit;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 7rem 0;
}

.row-center {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 7rem 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-8-end{
    width: calc(100% / 12 * 8);
    text-align: end;
}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-2 {
    width: calc(100% / 12 * 2);

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w80 {
    width: 80%;
    margin: auto;
    max-width: 1170px;
}

.menu {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}


/* #section DEBUG*/

/* card is use to have a content space*/
.card {
    width: 90%;
    margin: auto;
    height: 300px;
    background-color: #fff;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


/* #endsection DEBUG*/

/* #section Header*/

header {
    background-color: var(--ds-navbar);
}

.logo,
.log {
    width: 20%;
}

.nav {
    width: 60%;
    text-align: center;
}


ul .flex>li {
    flex-grow: 5;
    justify-content: space-between;
}

.nav li {
    list-style: none;
    padding: 0 1.25rem;
}

.nav a:any-link {
    text-decoration: none;
    color: var(--ds-light);
}

.log {
    text-align: end;
}

.login {
    background-color: var(--ds-light);
    color: var(--ds-dark);
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
}

.login a:any-link {
    color: var(--ds-dark);
    text-decoration: none;
}

/* #endsection Header*/

/* #section main*/

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-text {
    width: 50%;
    margin: 5rem auto 10rem;
    text-align: center;
    color: var(--ds-light);
}

.jumbo-text h2 {
    margin: 3rem;
}

.jumbo-text p {
    margin: 2rem;
}

button .fa-down-long {
    padding: 0 0.3rem;
}

#adventure{
    background-image: url(./img/stars.svg);
}

/* #endsection main */

/* #section Footer*/
footer {
    background-color: var(--ds-dark);
}

.footer-top {
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    align-items: center;
    justify-content: space-between;
}

/* #endsection Footer*/